nEnu awaniki sunna rUpAyilu iccAnu
nEnu awaniki oka rUpAyi iccAnu
nEnu awaniki paxahAru rUpAyilu iccAnu
nEnu awaniki vaMxa rUpAyilu iccAnu
nEnu awaniki nUTa paxxenimixi rUpAyilu iccAnu
nEnu awaniki reMDu vaMxala rUpAyilu iccAnu
nEnu awaniki reMDu vaMxala paMwommixi rUpAyilu iccAnu
nEnu awaniki enimixi vaMxala rUpAyilu iccAnu
nEnu awaniki enimixi vaMxala oka rUpAyilu iccAnu
nEnu awaniki oka veyyi mUDu vaMxala paxahAru rUpAyilu iccAnu
nEnu awaniki paxi lakRala rUpAyilu iccAnu
nEnu awaniki reMDu kOTla rUpAyilu iccAnu
nEnu awaniki mupPai lakRala rUpAyilu iccAnu
nEnu awaniki EDu lakRala rUpAyilu iccAnu
nEnu awaniki woMBai lakRala rUpAyilu iccAnu
nEnu awaniki panneMDu kOTla mupPai nAlugu lakRala yABai Aru vEla EDu vaMxala enaBai wommixi rUpAyilu iccAnu
nEnu awaniki riNAwmaka nalaBai aixu rUpAyilu iccAnu

nEnu awaniki nAlugu vEla mUDu vaMxala DebBai aixu rUpAyilu iccAnu
nEnu awaniki nAlugu vEla DebBai aixu rUpAyilu iccAnu
nEnu awaniki nAlugu vEla aixu rUpAyilu iccAnu
nEnu awaniki riNAwmaka nAlugu vEla aixu rUpAyilu iccAnu
