{% extends "base_home.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock %}

{% block login %}
	<h4> Hello , {{ user.first_name }} ! </h4>
	{% if is_moderator %}
		<div class="btn-group-vertical" role="group" aria-label="...">
			<a href="/project_management/edit_profile/" class="btn btn-default">Edit Your Profile <span class="glyphicon glyphicon-edit"></span></a>
			<a href="/project_management/view_profile/" class="btn btn-default">View Your Profile <span class="glyphicon glyphicon-user"></span></a>
			<a href="/project_management/create_batch/" class="btn btn-default">Create a new batch <span class="glyphicon glyphicon-file"></span> </a>
			<a href="/project_management/upload_file/" class="btn btn-default">Upload a new file <span class="glyphicon glyphicon-upload"></span></a>
			<a href="/project_management/allot_batch/" class="btn btn-default">Allot a batch <span class="glyphicon glyphicon-user"></span> </a>
			<a href="/project_management/view_all_batches/" class="btn btn-default">View all batches <span class="glyphicon glyphicon-eye-open"></span></a>
			<a href="/logout/" class="btn btn-default">Logout</a>
		</div>
	{% else %}
	<h4> You don't have moderator privelages </h4>
	<div class="btn-group-vertical" role="group" aria-label="...">
			<a href="/project_management/edit_profile/" class="btn btn-default">Edit Your Profile <span class="glyphicon glyphicon-edit"></span></a>
			<a href="/project_management/view_profile/" class="btn btn-default">View Your Profile <span class="glyphicon glyphicon-users"></span></a>
		<a href="/logout/" class="btn btn-default">Logout</a>
	</div>

	{% endif %}
{% endblock %}

{% block content %}
<article class="box post">

	<header>
		<h2>Dashboard <span class="glyphicon glyphicon-dashboard"></span></h2>
	</header>
	<h3>Messages <span class="badge">{{num_messages}}</span></a> </h3>
	<a href="/project_management/new_message/" class="btn btn-primary">New <span class="glyphicon glyphicon-envelope"></span></a>
	{% if messages %}

		<table class="table table-hover">
	    <thead>
	      <tr>
	        <th><h3>From</h3></th>
	        <th><h3>Subject</h3></th>
	        <th>Date</th>
	        <th>View</th>
	        <th>Delete</th>
	      </tr>
	    </thead>
	    {% for message in messages reversed %}
		    <tbody>
		      <tr>
		      	<td>
		      		<span class="glyphicon glyphicon-user"></span>
		      		{{message.sender.user.username}}
		      	</td>
		      	<td>
		      		<span class="glyphicon glyphicon-user"></span>{{message.subject}}
		      	</td>
		        <td>
		        	<span class="glyphicon glyphicon-envelope"></span>
      				<h5>{{ message.date_created }}</h5>
      			</td>

      			<td>
		        	<a href="/project_management/{{message.id}}/view_message/" class="btn btn-success btn-sm">
      				<span class="glyphicon glyphicon-folder-open"></span>
      				</a>
      			</td>
      			<td>
		        	<a href="/project_management/{{message.id}}/delete_message/" class="btn btn-danger btn-sm">
      				<span class="glyphicon glyphicon-trash"></span>
      				</a>
      			</td>
		      </tr>
		{% endfor %}
			</tbody>
	</table>
	{% else %}
	<br>
	    <span class="glyphicon glyphicon-envelope"></span>
	    <h3>You have no messages.</h3>
	{% endif %}


	{% if is_moderator %}
	<section>
		<header>
			<h3>Status of batches nearing deadline <span class="badge">{{num_batches}}</span></a></h3>
		</header>
		<table class="table table-hover">
	    <thead>
	      <tr>
	        <th><h3>Name</h3></th>
	        <th>Annotator</th>
	        <th>Status</th>
	        <th>Due date</th>
	      </tr>
	    </thead>
	    {% for deadline in batches %}
		    <tbody>
		      <tr>
		        <td><span class="glyphicon glyphicon-book"></span> {{deadline.batch.name}}</td>
		        <td>
		        	<span class="glyphicon glyphicon-user"></span> {{deadline.annotator.user.username}}
      			</td>
      			<td>
      				<span class="glyphicon glyphicon-ban-circle"></span>
      			</td>
      			<td>
      				<span class="glyphicon glyphicon-time"></span>
		        	 {{deadline.final_date}}
      			</td>
		      </tr>
		{% endfor %}
			</tbody>
	</table>

	</section>
	{% endif %}

{% endblock %}

