{% extends "base.html" %}

{% block content %}
<h3> Hi {{user.first_name}} </h3>

{% if batches %}
<h2> The batches which have been alotted to you are </h2>
<table class="table table-hover">
	    <thead>
	      <tr>
	        <th><h3>ID</h3></th>
	        <th><h3>Name</h3></th>
	        <th>View</th>
	      </tr>
	    </thead>
	    {% for batch in batches %}
		    <tbody>
		      <tr>
		        <td>{{batch.id}}</td>
		        <td>{{batch.name}}</td>
		        <td>
		        	<a href="/project_management/{{batch.id}}/batch/" class="btn btn-success btn-sm">
      				<span class="glyphicon glyphicon-folder-open"></span> 
      				</a>
      			</td>
		      </tr>
		{% endfor %}
			</tbody>
	</table>
{% else %}
<p> You have not been alotted any batches </p>
{% endif %}

{% endblock %}