{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<h3> Hi {{user.first_name}} </h3>

{% if batches %}
<h4> This system contains the following batches </h4>

	<table class="table table-hover">
	    <thead>
	      <tr>
	        <th><h3>ID</h3></th>
	        <th><h3>Name</h3></th>
	        <th>View</th>
	        <th>Add</th>
	        <th>Allot</th>
	        <th>Remove</th>
	      </tr>
	    </thead>
	    {% for batch in batches %}
		    <tbody>
		      <tr>
		        <td>{{batch.id}}</td>
		        <td>{{batch.name}}</td>
		        <td>
		        	<a href="#" class="btn btn-success btn-sm">
      				<span class="glyphicon glyphicon-folder-open"></span> 
      				</a>
      			</td>
      			<td>
		        	<a href="#" class="btn btn-success btn-sm">
      				<span class="glyphicon glyphicon-plus-sign"></span> 
      				</a>
      			</td>
      			<td>
		        	<a href="#" class="btn btn-success btn-sm">
      				<span class="glyphicon glyphicon-user"></span> 
      				</a>
      			</td>
      			<td>
		        	<a href="#" class="btn btn-danger btn-sm">
      				<span class="glyphicon glyphicon-remove-sign"></span> 
      				</a>
      			</td>
		      </tr>
		{% endfor %}
			</tbody>
	</table>

{% else %}
<p> This system does not have any batch. </p>
{% endif %}

<li><a href="/project_management/{{batch_id}}/upload_file/">Upload a new file</a></li>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>




